:root {
    --blue: #322679;
    --blue-dark: #14102b;
    --white: #eee;
    --white-dark: #ccc;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 35em) {
    html {
        font-size: 50%;
    }
}
